[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
uwsgi = "*"
"psycopg2-binary" = "*"
raven = "*"
channels = "*"
channels-redis = "*"
django-oauth-toolkit = "*"
django-redis-cache = "*"
stripe = "*"
pillow = "*"
celery = "*"
twilio = "*"
django-simple-history = "*"

[dev-packages]
"pep8" = "*"
"autopep8" = "*"
ipython = "*"

[requires]
python_version = "3.6"
