[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-rest-framework = "*"
django-rest-auth = {extras = ["with-social"]}
django-cors-headers = "*"
uWSGI = "*"
django-allauth = "*"
"psycopg2-binary" = "*"

[dev-packages]
"pep8" = "*"
"autopep8" = "*"
ipython = "*"

[requires]
python_version = "3.6"
